/* ----------------------------------Global styles------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&family=Libre+Barcode+128+Text&family=Roboto:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(209, 208, 208);
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

/* .container {
  width: 90%;
  margin: 0 auto;
} */

a {
  text-decoration: none;
  color: inherit;
  transition: all 150ms ease-in-out;
}

a:hover,
a:focus {
  color: rgb(50, 92, 146);
}

/* -----------------------------------Header styles------------------------------------- */
header {
  background: rgb(168, 168, 168);
  min-height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

/* --------------------------------------Logo (h1) */
h1 {
  max-width: 15rem;
  text-align: center;
  line-height: 0.9;
  margin-left: 0.5rem;
}
/* --------------------------------------Nav */
.nav-inner-list {
  list-style: none;
  display: flex;
}
.nav-list-item {
  font-family: "Lekton", sans-serif;
  font-size: 1.5rem;
  margin-right: 3em;
}

.nav-list-item:nth-of-type(3) {
  margin-right: 1rem;
}

.active {
  border-left: 1px solid yellow;
  font-weight: 700;
}

.h-active {
  border-left: 1px solid yellow;
  border-right: 1px solid yellow;
}

/* -----------------------------------Main content styles------------------------------------- */

/* --------------------------------------Img */
.index-img {
  width: 30%;
  margin: 1rem auto 0;
}

.p-img {
  width: 40%;
  margin: 1rem auto 0;
}

.p-img2 {
  width: 40%;
  margin: 2rem auto 0;
}

.m-img {
  width: 100%;
  flex-shrink: 0;
  align-self: center;
}

/* --------------------------------------Index 3 col layout */
.img-bg {
  background: rgba(45, 100, 172, 0.445);
}

.i-flex-parent {
  display: flex;
}

.i-flex-child {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
  padding: 2rem;
  width: 100%;
  background: rgb(168, 168, 168);
  border-radius: 0.3rem;
}

.i-left {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.i-center {
  font-size: 2rem;
  text-align: center;
}

.cta-btn {
  border: none;
  align-self: center;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1rem 4rem;
  background-color: rgb(50, 92, 146);
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 0.2rem;
  transition: all 150ms ease-in-out;
}

.cta-btn:hover {
  padding: 1rem 4.7rem;
}

.i-right {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

.test-name {
  margin: 2rem auto;
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 0.6;
}

/* --------------------------------------Projects page 2 col layout */

.p-flex-parent {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  background: rgb(65, 77, 92);
  padding: 1rem;
}

.p-flex-child {
  width: 100%;
  margin: 1rem;
  line-height: 1.5;
  font-size: 1.1rem;
}

.p-text {
  padding: 2rem;
  line-height: 1.6;
  text-align: center;
  flex-basis: 45%;
  background: rgb(168, 168, 168);
}

.p-text2 {
  margin-top: 0rem;
  padding: 2.5rem;
}
.p-vid {
  flex-basis: 55%;
}
.emb-vid {
  min-width: 51rem;
  min-height: 30rem;
}

/* --------------------------------------Media page 2 col layout */

.m-flex-parent {
  margin-top: 3rem;
  display: flex;
}

.m-flex-child {
  margin: 0.5rem;
}

.m-right {
  display: flex;
}

.a-child {
  margin: 1rem;
}

aside {
  text-align: center;
  line-height: 1.8;
  margin-left: 1rem;
  background: rgb(168, 168, 168);
  align-self: flex-start;
}

/* --------------------------------------Contact page 2 col layout */

.c-flex-parent {
  display: flex;
  margin: 1rem 0.5rem;
}

.c-flex-child {
}

.c-left {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 35%;
  background: rgba(65, 77, 92, 0.274);
}

.c-right {
  width: 65%;
  margin-left: 1rem;
  /* border: 1px solid black; */
}

.contact-info1,
.social,
.contact-info2 {
  font-size: 1rem;
  line-height: 2;
  padding: 2rem 2rem 2rem 0;
  margin: 1rem;
}

.social {
}

.contact-info2 {
  padding-bottom: 4rem;
}

form {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.labels-flex {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

input {
  border-radius: 0.2rem;
  font-size: 1rem;
  width: 13rem;
  margin: 1rem;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid black;
  font-family: inherit;
  background-color: rgb(154, 186, 230);
}

textarea {
  border: 1px solid black;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1.2rem;
  margin-top: 3rem;
  width: 40rem;
  height: 20rem;
  resize: none;
  background-color: rgb(154, 186, 230);
}

/* -----------------------------------Footer styles------------------------------------- */

footer {
  font-family: "Libre Barcode 128 Text", sans-serif;
  font-size: 5rem;
  background: rgb(168, 168, 168);
  min-height: 6rem;
  padding: 0.5rem;
}

.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
