/* ----------------------------------Global styles------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&family=Libre+Barcode+128+Text&family=Roboto:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 150ms ease-in-out;
}

a:hover,
a:focus {
  color: rgb(50, 92, 146);
}

/* -----------------------------------Header styles------------------------------------- */
header {
  background: rgb(168, 168, 168);
  min-height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

/* --------------------------------------Logo (h1) */
h1 {
  max-width: 15rem;
  text-align: center;
  line-height: 0.9;
  margin-left: 0.5rem;
}
/* --------------------------------------Nav */
.nav-inner-list {
  list-style: none;
  display: flex;
}
.nav-list-item {
  font-family: "Lekton", sans-serif;
  font-size: 1.5rem;
  margin-right: 3em;
}

.nav-list-item:nth-of-type(3) {
  margin-right: 1rem;
}

.active {
  border-left: 1px solid yellow;
  font-weight: 700;
}

.h-active {
  border-left: 1px solid yellow;
  border-right: 1px solid yellow;
}

/* -----------------------------------Main content styles------------------------------------- */

/* --------------------------------------Img */
.index-img {
  width: 30%;
  margin: 2rem auto 0;
}

/* --------------------------------------Index 3 col layout */

.i-flex-parent {
  display: flex;
}

.i-flex-child {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
  padding: 2rem;
  width: 100%;
  background: rgb(168, 168, 168);
  border-radius: 0.3rem;
}

.i-left {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.i-center {
  font-size: 2rem;
  text-align: center;
}

.cta-btn {
  border: none;
  align-self: center;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1rem 4rem;
  background-color: rgb(50, 92, 146);
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 0.2rem;
  transition: all 150ms ease-in-out;
}

.cta-btn:hover {
  padding: 1rem 4.7rem;
}

.i-right {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

.test-name {
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 0.6;
}

/* -----------------------------------Footer styles------------------------------------- */

footer {
  font-family: "Libre Barcode 128 Text", sans-serif;
  font-size: 5rem;
  background: rgb(168, 168, 168);
  min-height: 6rem;
  padding: 0.5rem;
}

.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
