/* ----------------------------------Global styles------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&family=Libre+Barcode+128+Text&family=Roboto:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* -----------------------------------Header styles------------------------------------- */
header {
  background: rgb(168, 168, 168);
  min-height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

/* --------------------------------------Logo (h1) */
h1 {
  max-width: 15rem;
  text-align: center;
  line-height: 0.9;
}
/* --------------------------------------Nav */
.nav-inner-list {
  list-style: none;
  display: flex;
}
.nav-list-item {
  font-family: "Lekton", sans-serif;
  font-size: 1.5rem;
  margin-right: 3em;
}

.nav-list-item:nth-of-type(3) {
  margin-right: 1rem;
}
