/* ------------------------------------------------------------------------------------ */
/* ----------------------------------Global styles------------------------------------- */
/* ------------------------------------------------------------------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&family=Libre+Barcode+128+Text&family=Roboto:wght@100;300;400;700;900&display=swap");

:root {
  --hidden-header-colour: black;
  --body-light-colour: rgb(231, 229, 229);
  --body-dark-colour: rgba(65, 77, 92, 0.897);
  --header-footer-colour: rgb(168, 168, 168);
  --black: #070707;
  --more-black: rgb(15, 15, 15);
  --hover-colour: rgb(50, 92, 146);
  --divide-border: rgba(255, 255, 0, 0.493);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--body-light-colour);
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 2250px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 150ms ease-in-out;
}

a:hover,
a:focus {
  color: var(--hover-colour);
}

/* -----------------------------------Header styles------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */
header {
  background: var(--header-footer-colour);
  min-height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

/* --------------------------------------Logo (h1) */
h1 {
  font-size: 1.8rem;
  max-width: 15rem;
  text-align: center;
  line-height: 0.9;
  margin-left: 0.5rem;
}

h1::before {
  content: "the";
  font-weight: 100;
  border: 1px solid rgba(0, 0, 0, 0.356);
}

/* --------------------------------------Nav */
.nav-inner-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  flex-shrink: 2;
  font-family: "Lekton", sans-serif;
  font-size: 1.2rem;
  margin-right: 5em;
}

.nav-list-item:nth-of-type(3) {
  margin-right: 1rem;
}

.active {
  border-left: 1px solid yellow;
  font-weight: 700;
}

.h-active {
  border-right: 1px solid yellow;
}

/* -------------Header Media Query */
/* -------------------------------------------------------------------------------------------------------*/
@media (max-width: 1000px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-inner-list {
    margin-top: 1rem;
  }
}

@media (max-width: 500px) {
  .nav-list-item {
    font-size: 1.2rem;
  }
  .nav-list-item:nth-of-type(3) {
    margin-right: 0rem;
  }
}

/* -----------------------------------Content element styles img vid etc------------------------------------- */
/* --------------------------------------Img */
.index-img,
.p-img,
.p-img2 {
  width: 40%;
  margin: 0 auto;
}

.m-img {
  width: 100%;
  flex-shrink: 1;
  align-self: center;
}

.img-bg {
  background: var(--black);
}

/* ------------------------------------------ */
.img-bg2 {
  background: var(--body-dark-colour);
  width: 16.5rem;
}
/* ^^^^^^^^^Above: Blue lightbulb image on media page */
.about-img-bg {
  background: #efefef;
}

/* -------------------------------------------------------------------------------------------------------*/
/* --------------------------------------Index page */

.hidden-header {
  background: var(--hidden-header-colour);
  color: var(--hidden-header-colour);
}

.hidden-header a:hover {
  color: var(--hidden-header-colour);
  cursor: unset;
}

.img-dark-bg {
  height: 100vh;
  width: 100vw;
  background: var(--hidden-header-colour);
}
.img-dark {
  border-left: 0.25rem solid var(--hidden-header-colour);
  border-right: 0.25rem solid var(--hidden-header-colour);
  width: 40%;
  margin: 0 auto;
}

.look {
  display: flex;
  justify-content: center;
  font-size: 8rem;
  color: var(--header-footer-colour);
}

@media (max-width: 500px) {
  .wish-it {
    margin-top: 3rem;
    font-size: 3rem;
  }
}
/* -------------------------------------------------------------------------------------------------------*/
/* --------------------------------------Main page */
.see-it {
  display: flex;
  justify-content: center;
  font-size: 8rem;
  height: 40vh;
}
.main-flex-parent2 {
  display: flex;
  justify-content: space-evenly;
}

.main-flex2-child {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-right: 1px solid var(--header-footer-colour);
  padding: 2rem;
  color: var(--body-light-colour);
  background: var(--body-dark-colour);
}

.main-about-us {
  width: 160%;
  padding: 6rem 6rem 6rem 2rem;

  font-size: 3rem;
  line-height: 1.5;
  text-align: left;
  order: 0;
  flex-grow: 2;
  align-self: stretch;
}

.quote {
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--more-black);
}

.quote a {
  background-color: var(--body-light-colour);
  border-radius: 0.2rem;
  padding: 0.2rem 5rem;
  border: 1px solid var(--more-black);
}

.quote a:hover {
  background: linear-gradient(rgb(65, 77, 92), rgba(45, 100, 172, 0.445));
  color: white;
}

.main-sign-up {
  padding-top: 7rem;
  width: 40%;
  line-height: 1.8;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: right;
  order: 2;
  flex-shrink: 1;
}

.webinar-form {
  display: inline;
  align-self: flex-end;
}

.webinar-label {
  font-size: 0.8rem;
  margin: 0;
}
.webinar-input {
  margin: 0;
  width: 100%;
}

#its-free {
  font-weight: bolder;
  color: var(--hover-colour);
}

.cta-btn {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: white;
  cursor: pointer;
  margin-top: 4rem;
  border-radius: 0.2rem;
  transition: all 150ms ease-in-out;
}

.cta-btn:hover {
  background: linear-gradient(rgb(65, 77, 92), rgba(45, 100, 172, 0.445));
  color: white;
}

.main-testim {
  width: 80%;
  opacity: 0.8;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  order: 1;
}

.test-name {
  margin: 2rem auto;
  font-size: 0.9rem;
  font-weight: bolder;
  text-transform: uppercase;
  opacity: 0.8;
  letter-spacing: 2px;
}

/* -------------Main Page Media Query */
/* ---------------------------------------------------------------------------------------------------------------- */
@media (max-width: 1000px) {
  .see-it {
    padding-top: 4rem;
  }

  .main-flex-parent2 {
    flex-wrap: wrap;
  }

  .main-about-us {
    order: 0;
    text-align: center;
    font-size: 2rem;
    padding: 4rem 7rem;
  }

  .main-testim {
    order: 1;
    width: 100%;
  }

  .main-sign-up {
    order: 2;
    font-size: 2rem;
    text-align: center;
    width: 100%;

    align-content: center;
  }

  .webinar-form {
    min-height: auto;
    align-self: center;
  }
  .webinar-label {
    font-size: 0.8rem;
    margin: 0.5rem;
  }

  .webinar-input {
    margin: 0;
    width: 30%;
  }

  .cta-btn {
    display: block;
    margin: 2rem auto;
  }
}

@media (max-width: 650px) {
  .webinar-form {
    display: flex;
    flex-direction: column;
  }

  .webinar-input {
    margin: 0;
    width: 100%;
  }

  .quote {
    margin-top: 2rem;
    font-size: 1rem;
  }

  .see-it {
    margin-top: 2rem;
    font-size: 4rem;
    height: 15vh;
  }
}

@media (max-width: 500px) {
  .see-it {
    margin-top: 2rem;
    font-size: 3rem;
    height: 15vh;
  }
  .main-about-us {
    font-size: 1.5rem;
    padding: 2rem 0.5rem;
  }

  .quote {
    margin-top: 2rem;
    font-size: 1rem;
  }
  .webinar-form {
    display: flex;
    flex-direction: column;
  }
  .webinar-input {
    margin: 0;
    width: 80%;
  }
}
/* -------------------------------------------------------------------------------------------------------*/
/* --------------------------------------About Us page */
.about-flex-parent {
  display: flex;
  align-items: flex-start;
}

.about-flex-child {
  width: 100%;

  line-height: 1.5;
  font-size: 1.1rem;
}

.about-right {
  position: relative;
}
.about-large-text {
  display: flex;
  justify-content: center;
  color: var(--body-dark-colour);
  font-size: 8rem;
  height: 20vh;
}

.about-text {
  color: var(--black);
  padding: 0 2rem 2rem;
  line-height: 1.6;
  text-align: left;
  flex-basis: 45%;
  background: var(--body-light-colour);
}

.about-text2 {
  text-align: right;
  color: var(--black);
  letter-spacing: 1px;
  margin-bottom: 1rem;
  padding: 2rem;
}

.brothers {
  margin: 0 auto;
}
.brother-caption {
  text-align: center;
  margin: 1rem auto;
  opacity: 0.8;
}
.about-vid {
  margin-top: auto;
  margin-bottom: auto;
}

.test-name2 {
  font-size: 0.8rem;
  font-weight: bolder;
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 1px;
}
.employee-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.employee-img {
  opacity: 0.8;
  display: inline;
  width: 20%;
  border-radius: 50%;
}

/* -------------About Us Media Query */
/* ---------------------------------------------------------------------------------------------------------------- */
@media (max-width: 780px) {
  .about-large-text {
    font-size: 7rem;
    align-items: center;
    margin-top: 1rem;
  }

  .about-flex-parent {
    flex-wrap: wrap;
  }

  .about-flex-child {
    flex-grow: 1;
  }

  .about-text {
    text-align: justify;
    margin-top: unset;
    padding: 1rem;
    order: 1;
  }

  .about-text2 {
    order: 0;
  }
}

@media (max-width: 550px) {
  .about-large-text {
    margin-top: 2rem;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .about-text {
    text-align: left;
  }
}

/* -------------------------------------------------------------------------------------------------------*/
/* --------------------------------------Media page  */
.m-flex-parent {
  border-top: 1px solid #0707075e;
  border-bottom: 1px solid #0707075e;

  display: flex;
}

.m-flex-child {
  width: 100%;
}

.m-right {
  display: flex;
  justify-content: flex-end;
}

.m-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.moth-headline {
  padding-top: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 7rem;
  font-size: 4rem;
  text-align: center;
}

.moth-article {
  margin-top: 2rem;
  font-size: 2rem;
  letter-spacing: 3px;
  text-align: center;
}

.moth-read-more {
  display: block;
  font-size: 0.8rem;
  opacity: 0.6;
}
.lars-article {
  font-size: 1rem;
  opacity: 0.6;
  border-bottom: 1px solid var(--body-dark-colour);
  text-align: right;
  margin-bottom: 2rem;
}

.m-h2 {
  padding-top: 1rem;
  border-bottom: 1px solid var(--divide-border);
  font-size: 2.5rem;
}

.m-h2::after {
  display: block;
  font-style: italic;
  font-weight: 300;
  content: "from the New Yorker, by Sophie Dahl";
  font-size: 0.6rem;
  margin-bottom: 1rem;
}

.a-child {
  margin: 1rem;
}

aside {
  color: var(--black);
  text-align: center;
  padding: 0 1rem 5rem;
  line-height: 1.8;
  letter-spacing: 1px;

  background: var(--header-footer-colour);
  align-self: stretch;
  max-width: 60%;
}

#new-yorker {
  font-style: italic;
  font-size: 0.9rem;
  font-weight: bold;
  display: inline-block;
  padding: 1rem;
  color: var(--black);
  transition: all 350ms ease-in-out;
}

/* -------------Media page Media Query */
/* ---------------------------------------------------------------------------------------------------------------- */
@media (min-width: 800px) {
  .m-p2 {
    display: none;
  }

  .m-p1 {
    display: unset;
  }
}

@media (max-width: 1000px) {
  .img-bg2 {
    width: unset;
  }

  .m-flex-parent {
    flex-direction: column;
  }

  .m-flex-child {
    margin: unset;
  }

  .m-p1 {
    display: none;
  }

  .m-p2 {
    display: unset;
  }
}

@media (max-width: 500px) {
  aside {
    max-width: 90%;
  }
  .img-bg2 {
    flex-shrink: 0;
    max-width: 6rem;
  }

  .moth-headline {
    margin-bottom: 3rem;
    font-size: 3rem;
    text-align: center;
  }

  .m-left {
    margin-top: unset;
  }
}

/* -------------------------------------------------------------------------------------------------------*/
/* --------------------------------------Contact page  */
.c-flex-parent {
  display: flex;
}

.c-left {
  color: var(--body-light-colour);
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  max-width: 32%;
  background: var(--body-dark-colour);
}

.c-right {
  width: 65%;
  margin-left: 1rem;
}

.contact-info1,
.social,
.contact-info2 {
  font-size: 1rem;
  line-height: 2;
  padding: 2rem 2rem 2rem 0;
  margin: 1rem;
}

.social {
  border-top: 1px solid var(--divide-border);
  border-bottom: 1px solid var(--divide-border);
}

.social a {
  display: block;
}

.contact-info2 {
  padding-bottom: 4rem;
}

form {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.labels-flex {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

label {
  color: var(--black);
  opacity: 0.8;
}

input {
  border: 1px solid var(--black);
  color: var(--black);
  font-size: 1rem;
  width: 50%;
  margin: 1rem;
  height: 2rem;
  padding: 0.5rem;
  font-family: inherit;
  background-color: white;
}

textarea {
  border: 1px solid var(--black);
  color: var(--black);
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1.2rem;
  margin-top: 3rem;
  width: 80%;
  height: 20rem;
  resize: none;
  background-color: white;
  flex-shrink: 1;
}

.btn {
  border: 1px solid var(--black);
  color: var(--body-dark-colour);
  width: 25%;
  text-align: center;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  background-color: white;
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 0.2rem;
  transition: all 300ms ease-in-out;
}

.btn:hover,
.btn:focus {
  background: linear-gradient(rgb(65, 77, 92), rgba(45, 100, 172, 0.445));
  color: white;
}

/* -------------Contact page Media Query */
/* ---------------------------------------------------------------------------------------------------------------- */

@media (max-width: 800px) {
  .c-flex-child {
    padding-bottom: 3rem;
  }
  .c-left {
    padding: unset;
  }

  textarea {
    text-align: justify;
    min-width: 100%;
  }
}
@media (max-width: 600px) {
  .c-flex-parent {
    margin-top: unset;
    flex-direction: column;
    align-items: center;
  }

  .c-left {
    max-width: unset;
  }

  .c-right {
    order: -1;
    width: 80%;
    margin-left: unset;
  }

  form {
    display: flex;
    min-height: unset;
    margin-bottom: 2rem;
  }

  input {
    width: 70%;
    margin: 0.5rem;
  }

  .labels-flex {
    flex-direction: column;
  }

  form * {
    max-width: 85%;
  }

  textarea {
    margin-top: 2rem;
    text-align: justify;
    min-width: 100%;
  }

  .contact-btn {
    min-width: 10rem;
  }
}

@media (min-width: 1200px) {
  textarea {
    max-width: 40rem;
  }

  .contact-btn {
    max-width: 15rem;
  }
}

/* -------------------------------------------------------------------------------------------------------*/
/* -------------------------------------Webinar signup redirect (index pg > Join Us btn) */

.redirect {
  text-align: center;
  height: 62vh;
}
.thankyou-h2 {
  margin: 15rem auto 3rem;
}
.thankyou-p {
  opacity: 0.6;
}

@media (max-width: 700px) {
  .thankyou-h2 {
    margin: 10rem auto 3rem;
  }
}

/* -------------------------------------------------------------------------------------------------------*/
/* -------------------------------------404 page */

.sml404 {
  font-size: 2rem;
}

/* -----------------------------------Footer styles-------------------------------------*/
footer {
  color: black;
  font-family: "Libre Barcode 128 Text", sans-serif;
  font-size: 5rem;
  background: var(--header-footer-colour);
  min-height: 6rem;
  padding: 0.5rem;
}

.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  footer {
    font-size: 3rem;
  }
}
